<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ma.exceldemo.rep.dao.UserMapper" >
  <resultMap id="BaseResultMap" type="com.ma.exceldemo.entity.User" >
    <id column="userId" property="userid" jdbcType="INTEGER" />
    <result column="username" property="username" jdbcType="VARCHAR" />
    <result column="sex" property="sex" jdbcType="VARCHAR" />
    <result column="number" property="number" jdbcType="VARCHAR" />
    <result column="branch" property="branch" jdbcType="VARCHAR" />
    <result column="IDcard" property="idcard" jdbcType="VARCHAR" />
    <result column="xingzhengban" property="xingzhengban" jdbcType="VARCHAR" />
    <result column="jiguan" property="jiguan" jdbcType="VARCHAR" />
    <result column="biyezhongxue" property="biyezhongxue" jdbcType="VARCHAR" />
    <result column="phone1" property="phone1" jdbcType="VARCHAR" />
    <result column="phone2" property="phone2" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    userId, username, sex, number, branch, IDcard, xingzhengban, jiguan, biyezhongxue, 
    phone1, phone2, email
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.ma.exceldemo.rep.example.UserExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from user
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from user
    where userId = #{userid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from user
    where userId = #{userid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.ma.exceldemo.rep.example.UserExample" >
    delete from user
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ma.exceldemo.entity.User" >
    insert into user (userId, username, sex, 
      number, branch, IDcard, 
      xingzhengban, jiguan, biyezhongxue, 
      phone1, phone2, email
      )
    values (#{userid,jdbcType=INTEGER}, #{username,jdbcType=VARCHAR}, #{sex,jdbcType=VARCHAR}, 
      #{number,jdbcType=VARCHAR}, #{branch,jdbcType=VARCHAR}, #{idcard,jdbcType=VARCHAR}, 
      #{xingzhengban,jdbcType=VARCHAR}, #{jiguan,jdbcType=VARCHAR}, #{biyezhongxue,jdbcType=VARCHAR}, 
      #{phone1,jdbcType=VARCHAR}, #{phone2,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ma.exceldemo.entity.User" >
    insert into user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userid != null" >
        userId,
      </if>
      <if test="username != null" >
        username,
      </if>
      <if test="sex != null" >
        sex,
      </if>
      <if test="number != null" >
        number,
      </if>
      <if test="branch != null" >
        branch,
      </if>
      <if test="idcard != null" >
        IDcard,
      </if>
      <if test="xingzhengban != null" >
        xingzhengban,
      </if>
      <if test="jiguan != null" >
        jiguan,
      </if>
      <if test="biyezhongxue != null" >
        biyezhongxue,
      </if>
      <if test="phone1 != null" >
        phone1,
      </if>
      <if test="phone2 != null" >
        phone2,
      </if>
      <if test="email != null" >
        email,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userid != null" >
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="username != null" >
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        #{sex,jdbcType=VARCHAR},
      </if>
      <if test="number != null" >
        #{number,jdbcType=VARCHAR},
      </if>
      <if test="branch != null" >
        #{branch,jdbcType=VARCHAR},
      </if>
      <if test="idcard != null" >
        #{idcard,jdbcType=VARCHAR},
      </if>
      <if test="xingzhengban != null" >
        #{xingzhengban,jdbcType=VARCHAR},
      </if>
      <if test="jiguan != null" >
        #{jiguan,jdbcType=VARCHAR},
      </if>
      <if test="biyezhongxue != null" >
        #{biyezhongxue,jdbcType=VARCHAR},
      </if>
      <if test="phone1 != null" >
        #{phone1,jdbcType=VARCHAR},
      </if>
      <if test="phone2 != null" >
        #{phone2,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ma.exceldemo.rep.example.UserExample" resultType="java.lang.Integer" >
    select count(*) from user
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update user
    <set >
      <if test="record.userid != null" >
        userId = #{record.userid,jdbcType=INTEGER},
      </if>
      <if test="record.username != null" >
        username = #{record.username,jdbcType=VARCHAR},
      </if>
      <if test="record.sex != null" >
        sex = #{record.sex,jdbcType=VARCHAR},
      </if>
      <if test="record.number != null" >
        number = #{record.number,jdbcType=VARCHAR},
      </if>
      <if test="record.branch != null" >
        branch = #{record.branch,jdbcType=VARCHAR},
      </if>
      <if test="record.idcard != null" >
        IDcard = #{record.idcard,jdbcType=VARCHAR},
      </if>
      <if test="record.xingzhengban != null" >
        xingzhengban = #{record.xingzhengban,jdbcType=VARCHAR},
      </if>
      <if test="record.jiguan != null" >
        jiguan = #{record.jiguan,jdbcType=VARCHAR},
      </if>
      <if test="record.biyezhongxue != null" >
        biyezhongxue = #{record.biyezhongxue,jdbcType=VARCHAR},
      </if>
      <if test="record.phone1 != null" >
        phone1 = #{record.phone1,jdbcType=VARCHAR},
      </if>
      <if test="record.phone2 != null" >
        phone2 = #{record.phone2,jdbcType=VARCHAR},
      </if>
      <if test="record.email != null" >
        email = #{record.email,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update user
    set userId = #{record.userid,jdbcType=INTEGER},
      username = #{record.username,jdbcType=VARCHAR},
      sex = #{record.sex,jdbcType=VARCHAR},
      number = #{record.number,jdbcType=VARCHAR},
      branch = #{record.branch,jdbcType=VARCHAR},
      IDcard = #{record.idcard,jdbcType=VARCHAR},
      xingzhengban = #{record.xingzhengban,jdbcType=VARCHAR},
      jiguan = #{record.jiguan,jdbcType=VARCHAR},
      biyezhongxue = #{record.biyezhongxue,jdbcType=VARCHAR},
      phone1 = #{record.phone1,jdbcType=VARCHAR},
      phone2 = #{record.phone2,jdbcType=VARCHAR},
      email = #{record.email,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ma.exceldemo.entity.User" >
    update user
    <set >
      <if test="username != null" >
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        sex = #{sex,jdbcType=VARCHAR},
      </if>
      <if test="number != null" >
        number = #{number,jdbcType=VARCHAR},
      </if>
      <if test="branch != null" >
        branch = #{branch,jdbcType=VARCHAR},
      </if>
      <if test="idcard != null" >
        IDcard = #{idcard,jdbcType=VARCHAR},
      </if>
      <if test="xingzhengban != null" >
        xingzhengban = #{xingzhengban,jdbcType=VARCHAR},
      </if>
      <if test="jiguan != null" >
        jiguan = #{jiguan,jdbcType=VARCHAR},
      </if>
      <if test="biyezhongxue != null" >
        biyezhongxue = #{biyezhongxue,jdbcType=VARCHAR},
      </if>
      <if test="phone1 != null" >
        phone1 = #{phone1,jdbcType=VARCHAR},
      </if>
      <if test="phone2 != null" >
        phone2 = #{phone2,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        email = #{email,jdbcType=VARCHAR},
      </if>
    </set>
    where userId = #{userid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ma.exceldemo.entity.User" >
    update user
    set username = #{username,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=VARCHAR},
      number = #{number,jdbcType=VARCHAR},
      branch = #{branch,jdbcType=VARCHAR},
      IDcard = #{idcard,jdbcType=VARCHAR},
      xingzhengban = #{xingzhengban,jdbcType=VARCHAR},
      jiguan = #{jiguan,jdbcType=VARCHAR},
      biyezhongxue = #{biyezhongxue,jdbcType=VARCHAR},
      phone1 = #{phone1,jdbcType=VARCHAR},
      phone2 = #{phone2,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR}
    where userId = #{userid,jdbcType=INTEGER}
  </update>
</mapper>